.input {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 7px;
    margin: 2rem auto;
    padding: 0.9rem;
    width: 40%;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #4f005f;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.25rem;
    margin-bottom: 0.6rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }

  .input button {
      background-color: #4f005f;
      font-weight: bolder;
      color: white;
      padding: 10px;
      border-radius: 8px;
  }